@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #262626;
}

.intro{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.intro_main{
    font-family: 'Cabin Sketch', cursive;
    padding-left: 30px;
    padding-right: 20px;
    color: #fff;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_main p{
    margin: 5px;
}

.intro img{
    height: 100vh;
}